body {
  margin:0;
  padding:0;
  font-family:"Open Sans",sans-serif;
  font-size:16px;color:#333;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

footer {  
  margin-top: 2em!important;
  text-align: center;
  color: white;
  background-color: #222;
}

footer  p {
  margin-top: 0.8em!important;
}

.Home {
  text-align: center;
}